@import "../../assets/SCSS/variables.scss";
#recipesPage
{
    padding: 100px;
    background: {
        image: url("../../assets/images/recipes-bg.jpg");
        repeat: no-repeat;
        attachment: fixed;
        color: rgba($color: #000000, $alpha: .6); 
    };
    min-height: 100vh;

    .recipes-title
    {
        // background-color: tomato;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        margin-bottom: 20px;
        h2
        {
            background-color: crimson;
            width: fit-content;
            text-transform: capitalize;
            padding: 7px 10px;
            color: white;
            font: {
                size: 34px;
                weight: 500;
                family: $fontPoppins
            };
            position: relative;
            border-radius:5px ;

        }
        p
        {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            i
            {
                
                font-size: 24px;
                color: white;
                background-color: rgba($color: black, $alpha: 0.6);
                padding: 6px;
                cursor: pointer;
                margin-right: 10px;
                border-radius: 4px;
                position: relative;
                span
                {
                    position: absolute;
                    bottom: 110% ;
                    left: 0%;
                    color: white;
                    font: {
                        size: 16px;
                        weight: 400;
                        family: $fontPoppins
                    };
                    background-color: rgba($color: #000000, $alpha: .6);
                    padding: 3px;
                    border-radius: 5px;
                    visibility: hidden;
                    transition: 0.1s;
                }
                &:hover
                {
                    span
                    {
                        visibility: visible;
                    }
                }
            }
        }
    }

}
