<section id="recipesPage">
    <div class="container">
        <div class="recipes-title"  *ngIf="this.error == null">
            <h2>
                {{foodType}} Recipes
            </h2>

            <p class="d-none d-xl-block">
                <i class="fas fa-th" (click)="recipesGrid()">
                    <span>Grid</span>
                </i>
                <i class="fas fa-th-list" (click)="recipesList()">
                    <span>List</span>
                </i>
            </p>
        </div>
        <app-grid-view *ngIf="gridRecipes"></app-grid-view>
        <app-list-view *ngIf="listRecipes"></app-list-view>
        <div class="alert alert-danger" role="alert" *ngIf="this.error != null">
            {{this.error}}
        </div>
    </div>
</section>