<section id="authenication" class="d-flex justify-content-center align-items-center">
    
    <div class="auth-forms-box">
        <div class="form auth-login-form ">
            <h2 class="form-title">Login</h2>
            <div class="form-input">
                <input type="email"  id="loginEmailInput" placeholder="Enter Your Email...">
            </div>
            <div class="form-input">
                <input type="password"  id="loginPasswordInput" placeholder="Enter Your Password...">
            </div>
            <div class="form-btn">
                <button type="sumbit">Login</button>
            </div>
        </div>
        <div class="form auth-register-form">
            <h2 class="form-title">Register</h2>
            <div class="form-input">
                <input type="text"  id="registerNameInput" placeholder="Enter Your Name...">
            </div>
            <div class="form-input">
                <input type="email"  id="registerEmailInput" placeholder="Enter Your Email...">
            </div>
            <div class="form-input">
                <input type="password"  id="registerPasswordInput" placeholder="Enter Your Password...">
            </div>
            <div class="form-btn">
                <button type="sumbit">Register</button>
            </div>
        </div>
        <div class="form-layout" #formLayout id="formLayout">
            <div class="layout go-register">
                <h2>Hello Chef,</h2>
                <p>Register and save all your favourtie recipes for ever with us</p>
                <button id="goRegister" #goRegister>Register</button>
            </div>
            <div class="layout go-login d-none">
                <h2>Welcome Back,</h2>
                <p>Login to see your favourite recipes</p>
                <button id="goLogin" #goLogin>Login</button>
            </div>
        </div>
    </div>
</section>